<html ng-app="adMoney">
  <head>
    <title>Capitalism Game</title>
    <link rel="stylesheet" media="all" href="css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- Angular Material requires Angular.js Libraries -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>

     <!-- Angular Material Library -->
     <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="main">
    <div>
      <!-- User -->
      <div style="position: fixed; width: 100%">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
              <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>

            <h2 flex="" md-truncate="">{{you.name}} | {{you.money | currency:'R$ '}}</h2>

            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
              <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
      </div>
      
      <!-- Buy Boxes -->
      <div style="position:relative;top:75px;">
        <md-card ng-if="t.nivel <= you.nivel" ng-repeat="t in list_things" md-theme="dark-purple" md-theme-watch="">
          <md-card-title>
            <md-card-title-text>
              <md-checkbox ng-model="t.manager" ng-change="ativateManager(t)">Activate Manager {{t.manager_cost | currency:'R$ ' }} </md-checkbox>
              <span class="md-headline">{{t.name}}</span>
              <span class="md-subhead">
                <p>Valor de venda: {{t.sell_cost | currency:'R$ '}}</p>
                <p>Quantidade: {{t.quantity}} (vendendo a {{t.sell_cost * t.quantity | currency: 'R$ '}})</p>
                <md-progress-linear md-mode="determinate" value="{{t.timer || 0}}"></md-progress-linear>
              </span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img src="{{t.image}}" width="80" height="80">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="sellProduct(t, false)" class="md-raised md-warn">SELL</md-button>
            <md-button ng-click="buyQuantity(t)" class="md-raised md-primary">Buy <b>{{t.value_cost | currency:'R$ ' }}</b></md-button>
          </md-card-actions>
        </md-card>
      </div>
      
      
    
      
    </div>
  </body>
</html>