<html ng-app="adMoney">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <title>iMercenary</title>
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="theme-color" content="#8bc34a">
    <meta name="msapplication-navbutton-color" content="#8bc34a">
    <meta name="apple-mobile-web-app-status-bar-style" content="#8bc34a">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="iMercenary">
    <link rel="icon" sizes="16x16" href="/img/icons/16x16.png">
    <link rel="icon" sizes="192x192" href="/img/icons/192x192.png">
    <link rel="apple-touch-icon" sizes="16x16" href="/img/icons/16x16.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/img/icons/192x192.png">
    <link rel="shortcut icon" type="image/png" href="/img/icons/16x16.png"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" media="all" href="css/app.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

      <!-- Angular Material Library -->
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js">
    
    <!-- Themes -->
    <script src="js/themes/fruit.js"></script>
    <script src="js/themes/cannabis.js"></script>
    
    <script src="js/app.js"></script>
    
  </head>
  <body ng-controller="main" class="{{css_selected}}">
    <div>
      <!-- User -->
      <div style="position: fixed; width: 100%;top:0;left:0;z-index:10;">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <h5 flex="" md-truncate="" style="top: -2px;position: relative;font-size: 11px;">
              <div>Nome: {{you.name}}</div>
              <div><img style="top: 4px;position: relative;width: 13px;" src="/img/cash.png"> {{you.money | currency:'R$ '}}</div>
              <div><img style="top: 4px;position: relative;width: 13px;" src="/img/truck.png"> {{you.truck}}/{{you.truck_max }} <b style="color:red;" ng-click="upgradeTruck()">upgrade truck</b></div>
            </h5>
          </div>
        </md-toolbar>
      </div>
      
      <!-- Buy Boxes -->
      <div style="position:relative;top:75px;z-index:0;">
        <md-card style="width:30%;" ng-if="t.enabled" ng-repeat="t in list_things" md-theme="dark-purple" md-theme-watch="">
          <md-card-title>
            <md-card-title-text>
              <md-checkbox ng-model="t.manager" ng-disabled="t.manager_cost > you.money" ng-change="ativateManager(t)">Contratar laranja para gerenciar {{t.manager_cost | currency:'R$ ' }} </md-checkbox>
              <span class="md-headline">{{t.name}}</span>
              <span class="md-subhead">
                <p><b>Valor unitário da grama:</b> {{t.sell_cost | currency:'R$ '}}</p>
                <p><b>Quantidade de gramas no Pacote:</b> {{t.quantity}}</p>
                <p><b>Valor por Pacote:</b> {{t.sell_cost * t.quantity | currency: 'R$ '}})</p>
                <p><b>Despesa:</b>  {{t.value_cost * t.quantity | currency: 'R$ '}})</p>
                <p><b>Lucro p/Venda:</b>  {{ (t.sell_cost * t.quantity) - (t.value_cost * t.quantity) | currency: 'R$ '}})</p>
                <p><b>Tempo de venda: {{t.delay}} segundos <b ng-if="t.timer > 0">// Tempo restante: {{t.timer}} segundos</b>  <md-progress-circular ng-if="t.timer > 0 || t.manager" class="md-hue-2" style="display: inline; margin-left:5px;" md-diameter="20px"></md-progress-circular></p>
              </span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img ng-src="/img/{{t.image}}" width="80" height="80">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-mousedown="sellProduct(t, false)" class="md-raised md-primary" ng-disabled="t.manager" md-ripple-size="auto">{{ t.manager ? 'LARANJA GERENCIANDO...':'VENDER PACOTE'}}</md-button>
            <md-button ng-click="buyQuantity(t)" class="md-raised md-warn" ng-disabled="t.value_cost > you.money" md-ripple-size="auto">Comprar  <b>{{t.value_cost | currency:'R$ ' }}</b></md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
    <script src="/service-worker.js"></script>
  </body>
</html>
