<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.imercenary" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>iMercenary</name>
    <description>
        Um jogo de capitalismo.
    </description>
    <author email="admin@obscure.network" href="http://obscure.network">
        Obscure Network
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
